server:
  port: 8080

spring:
    datasource:
        url: jdbc:mysql://localhost:3306/canaan_assets_management?serverTimezone=Asia/Shanghai&useSSL=false
        username: root
        password: root
        # 使用druid数据源
        type: com.alibaba.druid.pool.DruidDataSource
        driver-class-name: com.mysql.cj.jdbc.Driver
        filters: stat
        maxActive: 20
        initialSize: 1
        maxWait: 60000
        minIdle: 1
        timeBetweenEvictionRunsMillis: 60000
        minEvictableIdleTimeMillis: 300000
        validationQuery: select 'x'
        testWhileIdle: true
        testOnBorrow: false
        testOnReturn: false
        poolPreparedStatements: true
        maxOpenPreparedStatements: 20
    servlet:
        multipart:
            max-file-size: 500MB   
            max-request-size: 1000MB
    jackson:
        time-zone: GMT+8 #不然返回客户端会少8小时
mybatis:
  mapper-locations: classpath:com/zhanyd/app/mapping/*.xml
  type-aliases-package: com.zhanyd.app.model

#pagehelper分页插件
pagehelper:
    helperDialect: mysql
    reasonable: true
    supportMethodsArguments: true
    params: count=countSql
    
logging:
  config: classpath:logback-spring.xml
  #level:
    #com.zhanyd.app.mapper: trace
    
    
